<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd" version="6.0">
  <servlet>
    <description></description>
    <display-name>ServletBonjour</display-name>
    <servlet-name>ServletBonjour</servlet-name>
    <servlet-class>ServletBonjour</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletBonjour</servlet-name>
    <url-pattern>/bonjour</url-pattern>
  </servlet-mapping>
  <display-name>tp1-web-servlet</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>ServletCompteur</display-name>
    <servlet-name>ServletCompteur</servlet-name>
    <servlet-class>ServletCompteur</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletCompteur</servlet-name>
    <url-pattern>/compteur</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ServletParametre</display-name>
    <servlet-name>ServletParametre</servlet-name>
    <servlet-class>ServletParametre</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletParametre</servlet-name>
    <url-pattern>/age</url-pattern>
    <url-pattern>/nom</url-pattern>
    <url-pattern>/ServletParametre</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ServletMultiplication</display-name>
    <servlet-name>ServletMultiplication</servlet-name>
    <servlet-class>ServletMultiplication</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletMultiplication</servlet-name>
    <url-pattern>/multiplication</url-pattern>
    <url-pattern>/ServletMultiplication</url-pattern>
  </servlet-mapping>
</web-app>